<nav class="nav bg-light">
  <li class="nav-item">
    <%= link_to "Inicio", root_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Instrumentos", instrumentos_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Añadir instrumento", new_instrumento_path, class: "nav-link" %>
  </li>
</nav>