@import '~bootstrap/scss/bootstrap';

html {
  min-height: 100%;
  position: relative;
}

body {
  background-image: url("/background-guitar.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  font-family: Source Serif Pro, serif;
  margin-bottom: 250px;
}

.content{
  width: 100%;
  background: #C4C4C4;
  opacity: 0.89;
  border-radius: 10px;
}