@import 'bootstrap';

html {
  min-height: 100%;
  position: relative;
}

body {
  background-image: url("/background-guitar.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  font-family: Source Serif Pro, serif;
  margin-bottom: 250px;
}

.content{
  width: 100%;
  background: #C4C4C4;
  opacity: 0.89;
  border-radius: 10px;
}

.error {
  color: red;
  font-weight: bold;
}

.custom-form label {
  font-family: Source Serif Pro, serif;
  color: black;
  font-size: large;
}

#Titulo {
  font-weight: bolder;
  font-size: 40px;
}